@model MakersBnB.Models.Space

<!DOCTYPE html>
<html>
<head>
    <title>Space Details</title>
</head>
<body>
    <h1>@Model.Name</h1>
    <p>@Model.Description</p>
    <p>Price: @Model.Price</p>
    <p>Bedrooms: @Model.Bedrooms</p>
    <p>Rules: @Model.Rules</p>

    
</body>
</html>
