@model IEnumerable<MakersBnB.Models.Reservation>

<!DOCTYPE html>
<html>
<head>
    <title>List of Reservations</title>
</head>
<body>
    <h1>List of Reservations</h1>

    <table>
        <thead>
            <tr>
                <th>Space</th>
                <th>User</th>
                <th>Start Date</th>
                <th>End Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var reservation in Model)
            {
                <tr>
                    <td>@reservation.Space.Name</td>
                    <td>@reservation.User.Email</td>
                    <td>@reservation.StartDate.ToShortDateString()</td>
                    <td>@reservation.EndDate.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>

    <a href="@Url.Action("New", "Reservations")">Create New Reservation</a>
</body>
</html>
